/* При разрешении менее 1500px */

@media (max-width: 1499px) {
    .comparison{
        display: none;
    }
    .reviews-section{
        display: none;
    }
}

.page-header {
    display: flex;
    font-family: sans-serif;
}
.page-header_logo {
    display: flex;
    gap: 7px;
    align-items: baseline;
    justify-content: baseline;
}

body {
    margin: 0px 50px 50px
}

header, nav, main, footer {
    margin: auto;
    max-width: 1500px;
    /* width: 100%; */
}

.block-form_name-and-rating: ::placeholder {
    font-weight: 500;
    font-size: 16 px;
    color: #888888;
}

.block-form_username {
    padding: 15px; 20px;
    border: 1px solid #888888;
    min-width: 70%;
}

.block-form_username::placeholder {
    font-weight: 500;
    font-size: 16px;
    color: #888888;
}

.block-form_rating {
    padding: 15px; 20px;
    min-width: 15%;
}

