header, 
footer, 
main {
    width: 1440px;
    margin: auto;
}

p {
    border: 1px solid black;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration:underline;
}

.text-blue {
    color: blue;
}

.font-size-big {
    font-size: 150%;
}

.half {
    display: inline-block;
    width: 30%;
    text-align: center;
}

