body {
    margin: 0;
    height: 100vh;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    height: 100%;
}

frameset {
    border: 1px dashed #ccc; 
}