body {
    max-width: 1500px;
    font-family: sans-serif;
    font-size: 18pt;
    margin-left: -20px;
    margin: 16px;
    align-items: center;
    justify-content: center;
}
div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    height: 100%;
}
a {
    color: #018ad2;
    text-decoration: none;
}
a:hover {
    color: #c00;
    text-decoration: none;
}
input {
    padding: 8px 12px 8px 12px;
}
p {
    padding: 16px;
    padding-left: 16px;
}

TABLE {
    width: 300px;
    border-collapse: collapse;
   }
   TD, TH {
    padding: 3px;
    border: 1px solid black;
   }
   TH {
    background: #ffffff;
   }

   .review {
    X: 0px;
    Y: 0px;
    W: 140px;
    H: 140px;
    Corner radius: 100px
    X constraint: left;
    Y constraint: top;
   }